POSTGRES_DB=renewable_epc_ai
POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_HOST=db_engine
DB_PORT=5432

APP_ENGINEER_USER=engineer_amman
APP_ENGINEER_PASSWORD=CHANGE_ME_ENGINEER_PASSWORD
APP_DEVELOPER_USER=developer_uae
APP_DEVELOPER_PASSWORD=CHANGE_ME_DEVELOPER_PASSWORD

API_USER=gsi_api_gate
API_PASSWORD=CHANGE_ME_API_PASSWORD

MQTT_BROKER=mqtt_broker
MQTT_PORT=1883
SCADA_TOPIC=gsi/substation/main_transformer/telemetry
